body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #333;
}

.header {
  background: #2e3b5a;
  color: white;
  text-align: center;
  padding: 2rem 1rem 4rem;
  position: relative;
  border-bottom-left-radius: 100;
}
.header h1 {
  margin: 100;
  font-size: 2rem;
  letter-spacing: 2px;
}
.header p {
  margin-top: .3rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.profile-pic {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact {
  display: flex;
  justify-content: space-between;
  padding: 70px 10% 20px;
  background: #eaeaea;
}
.contact p {
  margin: 5px 0;
}

.container {
  display: flex;
  gap: 2rem;
  padding: 20px 10%;
}
.left, .right {
  flex: 1;
}
h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: .3rem;
  margin-bottom: 1rem;
  color: #2e3b5a;
}
h3 {
  margin: .5rem 0 0;
  color: #444;
}
.skill {
  margin-bottom: 10px;
}
.bar {
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
}
.bar div {
  background: #2e3b5a;
  height: 100%; 
}
@media(max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

}
@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }  
}
@media (max-width: 1200px) {
  .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  
}